ion-title {
  
    color: black;
}
ion-toolbar {
    --ion-color-myCustomColor: #6AB29B;
  }

ion-card{
    
    background-color:#A9C3B6 ;
}

ion-card-content{
    color: black;
}

ion-toolbar{
    --background: #6AB29B;
    color: black;
   }
  