<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ketupat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <img src="assets/ketupat.jpg" style="width: 100%" />
  <ion-card>
    <ion-card-header>
      <ion-title size="large">Ketupat</ion-title>
      <ion-card-content>
        Ingredients:
        <ul>
          <li>1 1/2 cups glutinous rice</li>
          <li>1 1/2 cups water</li>
          <li>1 teaspoon salt</li>
          <li>4 cups coconut milk</li>
          <li>4 pandan leaves</li>
        </ul>
        How to make it:
        <ul>
          <li>
            Wash the rice and drain. Put the rice, water, and salt in a saucepan
            and bring to a boil.
          </li>
          <li>
            Lower the heat and simmer for 15 minutes, or until the water has
            been absorbed.
          </li>
          <li>Remove from the heat and let stand for 5 minutes.</li>
          <li>
            Cut 4 pieces of 12-inch aluminum foil. Fold each piece in half to
            form a triangle.
          </li>
          <li>
            Fold the longest side of the triangle in half to form a smaller
            triangle. Open the foil and place 1/2 cup of rice in the center.
          </li>
          <li>
            Fold the foil over the rice to form a triangle. Fold the edges of
            the foil over the triangle to seal.
          </li>

          <li>Repeat with the remaining rice.</li>
          <li>Bring a large pot of water to a boil.</li>

          <li>
            Add the rice packets and cook for 2 hours, adding more water as
            necessary to keep the packets submerged.
          </li>
          <li>Remove the packets from the water and drain. Let cool.</li>
          <li>
            Remove the rice from the packets and cut into 1/2-inch slices.
          </li>
          <li>Serve with coconut milk.</li>
        </ul>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
