ion-toolbar{
    --background: #6AB29B;
    color: black;
   }



 ion-card{
    background-color: #A9C3B6;
 }  

 ion-card-content{
  background-color:#A9C3B6;
 }



a{
    color: black;
    background-color: #6AB29B ;
}

.custom {
    background-color: #A9C3B6;
  }
  


 ion-list{
  background-color: #A9C3B6;
 } 