<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cranberry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <img src="assets/cranberry.jpg" style="width: 100%" />
  <ion-card>
    <ion-card-header>
      <ion-title size="large">Cranberry</ion-title>
      <ion-card-content>
        Ingredient:
        <ul>
          <li>1 cup white sugar</li>
          <li>1 cup orange juice</li>
          <li>12 ounces fresh cranberries</li>
        </ul>
        How to make it:
        <ul>
          <li>
            In a medium sized saucepan over medium heat, dissolve the sugar in
            the orange juice.
          </li>
          <li>
            Stir in the cranberries and cook until the cranberries start to pop
            (about 10 minutes).
          </li>
          <li>
            Remove from heat and place sauce in a bowl. Cranberry sauce will
            thicken as it cools.
          </li>
        </ul>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
