<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wajid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <img src="assets/wajid.jpg" style="width: 100%" />
  <ion-card>
    <ion-card-header>
      <ion-title size="large">Wajid</ion-title>
      <ion-card-content>
        Ingredients:
        <ul>
          <li>1 cup glutinous rice</li>
          <li>1/2 cup water</li>
          <li>1/2 cup coconut milk</li>
          <li>1/2 cup white sugar</li>
          <li>1/2 teaspoon salt</li>
          <li>1/2 teaspoon vanilla extract</li>
        </ul>
        How to make it:
        <ul>
          <li>In a saucepan, combine the rice, water, and coconut milk.</li>
          <li>
            Bring to a boil, then reduce heat to low, cover, and simmer for 20
            minutes.
          </li>
          <li>
            In a small bowl, stir together the sugar, salt, and vanilla. Mix the
            sugar mixture into the rice.
          </li>
          <li>Cover and cook for 5 minutes longer.</li>
          <li>Remove from heat and let stand for a few minutes.</li>
          <li>Serve warm.</li>
        </ul>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
